<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">Simple Storage Manager</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="nav-item"><a href="/hosts">Hosts</a></li>
        </ul>
        <ul class="nav">
          <li class="nav-item"><a href="/fabric">Fabric</a></li>
        </ul>
        <p class="navbar-text pull-right">Logged in as <a href="/logout">root</a></p>
      </div>
    </div>
  </div>
</div>
